<%= render 'shared/user_header' %>

<div class="row">
	<aside class="span4">
		<table>
		  <tr>
		    <td><strong>Pool:</strong></td>
		    <td></td>
		    <td><%= link_to @pool.name, pool_path(@pool) %></td>
		  </tr>
		  <tr>
		    <td><strong>Entry Name:</strong></td>
		    <td></td>
		    <td><%= @entry.name %></td>
		  </tr>
		</table>
	</aside>
</div><br />

<div class="tabbable"> 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Selections</a></li>
    <li><a href="#tab2" data-toggle="tab">Make a Selection</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render 'shared/selections_display.html.erb' %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render 'shared/selections_form.html.erb' %>
    </div>
  </div>
</div>


