<% provide(:title, "Edit User") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
  	<div class="well">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
    <% end %>

    <ul class="thumbnails">
    	<li>
			<%= gravatar_for @user %>
		</li>
		<p> <%= link_to "Change", "http://gravatar.com/emails", :target => "_blank" %></p>
	</ul>
  	</div>
  </div>
</div>