<%= render 'shared/user_header', formats: :html, handlers: :erb %><br />

<% if @user.memberships.exists? %>
  <% @memberships = @user.memberships.find(:all) %>

  <table class="front">
    <tr>
      <td class="main">
        <h1 class="selection">Pool Memberships:</h1>
      </td>
    </tr>
  </table>

  <table class="table selections">
    <tr>
      <th>Pool Name</th>
      <th>Pool Description</th>
      <th>Entry Name</th>
    </tr>

    <% @memberships.each do |m| %>
      <% @pool = Pool.find(m.pool_id) %>
      <% @entries = @user.entries.find_by_pool_id(m.pool_id) %>
      <% if @entries.nil? %>
        <tr>
          <td><%= link_to @pool.name, pool_path(@pool) %></td>
          <td><%= @pool.description %></td>
          <% if correct_user?(@user) %>
            <td><%= link_to "Create your entry", new_entry_path %></td>
          <% else %>
            <td>No entry</td>
          <% end %>
        </tr>
      <% else %>
        <% for entry in [*@entries] %>
          <tr>
            <td><%= link_to @pool.name, pool_path(@pool) %></td>
            <td><%= @pool.description %></td>
            <td><%= link_to entry.name, entry_path(entry) %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>

<% elsif correct_user?(@user) %>
  <%= render 'shared/membership_form', formats: :html, handlers: :erb %>
<% else %>
<p>This user does not have any memberships!</p>
<%= link_to "See all Users", users_path %>
<% end %>