<%= provide(:title, 'Create Selection') %>
<h1>Make your Selections</h1>

<div class "row">
  <div class"span12">
    <table class="front">
      <tr>
        <td class="main">
          <h1 class="selection">Week <%= current_week(@current_time) %>:</h1>
        </td>
      </tr>
    </table>
  </div>
</div>

<table>
 <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Away Team</th>
    <th>Checkbox</th>
    <th>Home Team</th>
    <th>Checkbox</th>
  </tr>

  <% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.datetime.to_date %></td>
    <td><%= schedule.datetime.to_formatted_s(:only_time) %></td>
    <td><%= schedule.away_team_id %></td>
    <td>checkbox</td>
    <td><%= schedule.home_team_id %></td>
    <td>checkbox</td>
  </tr>
  <% end %>
</table>